/* GOOGLE FONTS 
  ---------------
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;

    COLORS
    -----
    orange: #db7a24
*/

body,
html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.App {
  height: 100%;
  width: 100%;
}
